.contenedor{
    
    border: 5px solid   #ffedd6;
    background-color: aqua;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
}
.contenedor-2{
    border: 5px solid   #ffedd6;
    background-color: aqua;
    display: grid;
    margin-top: 100pxs;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fill,minmax(100px, 1fr));
}
.item{
    border: 5px solid #ff0404;
    font-size: 4rem;
}
