.contenedor{
    
    border: 5px solid   #ffedd6;
    background-color: aqua;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: minmax(30px, 300px) 200px minmax(60px, 250px)   ; 
    grid-template-rows: repeat(3, auto) ;
}
.item{
    border: 5px solid #ff0404;
    font-size: 4rem;
}
